@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
$pink: hsl(322, 100%, 66%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$laptop: 1024px;
$tablet: 768px;

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: $very-dark-cyan;
  @include tablet() {
    font-size: 20px;
  }
  @include laptop() {
    font-size: 25px;
  }
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 20px;
  @include tablet() {
    padding: 0 80px;
  }
}
h1 {
  font-size: 1.25em;
}
h2 {
  font-size: 1.25em;
}
ul {
  list-style-type: none;
}

.btn {
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 14px;

  &--secundary {
    background-color: #fff;
  }
  &--primary {
    background-color: $pink;
    color: white;
    padding: 15px 60px;
  }
  &--nav {
    padding: 0.625em 1.5625em;
    font-size: 0.625em;
    @include tablet() {
      width: 140px;
    }
    @include laptop() {
      width: 180px;
    }
  }
}

.header {
  background-image: url(../images/bg-hero-mobile.svg);
  background-color: $very-pale-cyan;
  background-size: cover;
  padding: 2.5em 0;
  background-position: center center;
  @include laptop() {
    background-image: url(../images/bg-hero-desktop.svg);
  }
  &__content {
    text-align: center;
    @include laptop() {
      display: flex;
      align-items: center;
    }
  }
  &__desc {
    margin: 0 0 3.4375em 0;
    @include laptop() {
      flex: 0.45;
      text-align: left;
      padding-right: 80px;
      margin: 0;
    }
  }
  &__img {
    @include laptop() {
      flex: 0.55;
    }
  }
  &__paragraph {
    margin: 2.1875em 0;
    @include laptop() {
      margin: 1em 0;
    }
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5em;
  &__logo {
    max-width: 6.875em;
  }
}

main {
  padding: 2.5em 0;
}
.card {
  margin: 2.5em 0;
  padding: 3.125em 2.5em 2.5em 2.5em;
  border-radius: 0.9375em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  @include laptop() {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__img {
    @include laptop() {
      flex: 0.4;
    }
  }
  &__content {
    @include laptop() {
      padding-left: 160px;
      flex: 0.6;
      text-align: left;
    }
  }
  &__title {
    margin: 3.125em 0 1.5625em 0;
    @include laptop() {
      margin: 0;
    }
  }
  &__text {
    color: $grayish-blue;
    font-size: 0.875em;
  }
  &:nth-child(1) {
    @include laptop() {
      flex-direction: row-reverse;
      .card__content {
        padding-left: 0;
        padding-right: 160px;
      }
    }
  }
  &:nth-child(3) {
    @include laptop() {
      flex-direction: row-reverse;
      .card__content {
        padding-left: 0;
        padding-right: 160px;
      }
    }
  }
}
.community {
  background-color: white;
  max-width: 500px;
  text-align: center;
  padding: 2.5em 0;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: relative;
  margin: 0 auto;
  margin-bottom: -3.125em;
  @include laptop() {
    max-width: 800px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.footer {
  background-color: $very-dark-cyan;
  color: white;
  text-align: left;
  padding: 8.75em 0 1.875em 0;
  &__logo {
    max-width: 10.375em;
    margin-bottom: 1.875em;
  }
  &__content {
    li {
      margin-bottom: 30px;
    }
    @include tablet() {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @include laptop() {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &__desc {
    margin-bottom: 60px;
    li {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      img {
        margin-top: 5px;
        width: 5%;
      }
      p {
        width: 90%;
      }
    }
    @include tablet() {
      width: 50%;
    }
    @include laptop() {
      flex: 0.4;
    }
  }
  &__links {
    margin-bottom: 3.75em;
    @include tablet() {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    @include laptop() {
      flex: 0.3;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  &__copyright {
    font-size: 0.625em;
    text-align: center;

    @include laptop() {
      text-align: right;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    margin-bottom: 1.875em;
    @include tablet() {
      width: 100%;
    }
    @include laptop() {
      flex: 0.3;
    }
  }
  &__circle {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.625em;
    height: 2.5em;
    width: 2.5em;
    text-decoration: none;
  }
}
